body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: #1A1E23;
  color: #ecf0f1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #0F1115;
  position: sticky;
  top: 0;
}

.logo {
  color: #00ff99;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #00ff99;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover,
.nav-links a.active {
  color: #00ff99;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.section {
  padding: 80px 40px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  border-bottom: 3px solid #00ff99;
  display: inline-block;
  padding-bottom: 10px;
}

.section-text {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 1.1rem;
  color: #ccc;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #0F1115;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 15px rgba(0, 255, 153, 0.05);
}

.card-title {
  color: #00ff99;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.card ul {
  padding-left: 20px;
}

.etude-list {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.etu-item h3 {
  color: #00ff99;
}

.contact {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: #0f1115;
  border-radius: 12px;
  border: 1px solid #222;
}

.contact input,
.contact textarea {
  background-color: #1a1e23;
  border: 1px solid #333;
  color: #00ff99;
  padding: 14px;
  border-radius: 8px;
  font-size: 1rem;
}

.contact button {
  background: transparent;
  color: #00ff99;
  border: 2px solid #00ff99;
  padding: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
}

.contact button:hover {
  background: #00ff99;
  color: #0f1115;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    background-color: #0F1115;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
